/*styling the todo list*/
.App {
  text-align: center;
  margin: 50px;
  background-color: antiquewhite;
}

input {
  padding: 8px;
  margin-right: 8px;
}

button {
  padding: 8px;
  color:  lightblue;
  background-color: darkblue;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 8px 0;
}

h1{
  color: red;
  text-decoration: line-through; 
}
